{
  "presets": ["es2015", "stage-2"],
  "plugins": [
    "transform-flow-strip-types",
    "transform-class-properties",
    "transform-es2015-modules-commonjs",
    [
      "transform-runtime", {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
