{
  "presets": [
    [
      "@babel/env", {
        "targets": {"node": "14"},
        // Leave import/export statements unchanged in the babel transpiling output.
        "modules": false
      }
    ]
  ],
  "plugins": [
    ["transform-inline-environment-variables", {
      "include": [
        "WEBEXT_BUILD_ENV"
      ]
    }] 
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
