{
  "presets": [
    ["@babel/env", {
      "targets": {"node": "10"}
    }],
    "@babel/flow"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
