# OSX
.DS_Store

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt
.cache

# web-ext config files
.web-ext-config.js
web-ext-config.js

# Build artifacts.
.nyc_output
npm-debug.log
node_modules
dist/*
artifacts/*
coverage/*
lib/
